body, html{
    overflow: hidden;
}

#page{
    margin: 0;
    padding: 0;
}

.header, .logo{
    position: absolute;
    z-index: 1;
}

.logo{
    z-index: 2;
}

.content{
    width: 808px;
    height: 1000px;
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    margin: 0 auto;

}

.content_register{
    width: 808px;
    height: 1000px;
    background: url('../images/register.jpg');
    background-repeat: no-repeat;
    margin: 0 auto;

}

.content_danke{
    width: 808px;
    height: 1000px;
    background: url('../images/danke.jpg');
    background-repeat: no-repeat;
    margin: 0 auto;

}



#picture{
    position: fixed;
    bottom: -32px;
    left: 0px;

}

.starttext{
    text-align: center;
    font-size: 12px;
}

.content #button{
    border-radius: 15px;
    width: 165px;
    margin-top: 34.1%;
    margin-left: 37%;
    font-weight: bolder;
    background: #e3e3e3; /* Old browsers */
    background: -moz-linear-gradient(left,  #e3e3e3 0%, #ffffff 50%, #ffffff 51%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e3e3e3), color-stop(50%,#ffffff), color-stop(51%,#ffffff), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #e3e3e3 0%,#ffffff 50%,#ffffff 51%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #e3e3e3 0%,#ffffff 50%,#ffffff 51%,#e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #e3e3e3 0%,#ffffff 50%,#ffffff 51%,#e3e3e3 100%); /* IE10+ */
    background: linear-gradient(to right,  #e3e3e3 0%,#ffffff 50%,#ffffff 51%,#e3e3e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#e3e3e3',GradientType=1 ); /* IE6-9 */
    -webkit-box-shadow: 0 0 10px 1px #000000;
    box-shadow: 0 0 10px 1px #000000;
    z-index: 500;
}
.content_register button{
    border-radius: 15px;
    margin-top: 20%;
    margin-left: 18%;
    width: 167px;
    color: #ca0a1c;
    font-weight: bolder;
    background: url('../images/buttonbg.png') #e3e3e3; /* Old browsers */
    background: -moz-linear-gradient(left,  #e3e3e3 0%, #ffffff 50%, #ffffff 51%, #e3e3e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e3e3e3), color-stop(50%,#ffffff), color-stop(51%,#ffffff), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #e3e3e3 0%,#ffffff 50%,#ffffff 51%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #e3e3e3 0%,#ffffff 50%,#ffffff 51%,#e3e3e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #e3e3e3 0%,#ffffff 50%,#ffffff 51%,#e3e3e3 100%); /* IE10+ */
    background: linear-gradient(to right,  #e3e3e3 0%,#ffffff 50%,#ffffff 51%,#e3e3e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#e3e3e3',GradientType=1 ); /* IE6-9 */
    -webkit-box-shadow: 0 0 10px 1px #000000;
    box-shadow: 0 0 10px 1px #000000;
    z-index: 500;
}

/*form*/

#page > div > form {
    width: 150px;
    position: relative;
    top: 26%;
    left: 59%;
}

#page > div > form > input {
    padding-top: 5px;
}

input[type="text"], input[type="email"]{
    width: 220px;
    height: 46px;
    background: #ecf4e5;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow:inset 0 0 8px 1px #ADADAD;
    box-shadow:inset 0 0 8px 1px #ADADAD;
    border: none;
    padding-left: 13px;
    font-color: black;
}

input[type="text"]:focus, input[type="email"]:focus{
    width: 220px;
    height: 46px;
    border-color: #ff9a14 !important;
    box-shadow: 0 0 10px #ff9a14 !important;
    -webkit-border-radius: 5px 5px 5px 5px !important;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow:inset 0 0 8px 1px #ADADAD;
    box-shadow:inset 0 0 8px 1px #ADADAD;
    border: none;
    padding-left: 13px;
    outline: none;
}



/*input:required:invalid{
    border-color: #ff9a14 !important;
    box-shadow: 0 0 10px #ff9a14 !important;
}



#agbs input:required:valid{
    border-color: rgba(255, 255, 255, 0) !important;
}*/


input:required:valid{
    border-color: #00ff20 !important;
    box-shadow: 0 0 10px #0bff00 !important;
}

.styled1{
    position: relative;
    width: 25px;
    z-index:1000;
    opacity: 0;
}

.styled2{
    position: relative;
    width: 25px;
    z-index:1000;
    opacity: 0;
}



#radio1{
    position: absolute;
    left: -4px;
    z-index: 50;

}

#radio1_checked{
    position: absolute;
    left: -4px;
    z-index: 51;
    top: 0px;

}

#radio2_checked{
    left: 52px;
    position: absolute;
    z-index: 52;
    top: 0px;

}



#radio2{
    position: absolute;
    right: 69px;
    z-index: 50;

}




a, a:focus{
    text-decoration: none;
    color: #8c1012;
}

a:hover{
    color: #f1131d;
}

.arrow{
    position: absolute;
    top: 94.5%;
    left: 113%;
    z-index: 1000;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    border-left: 5px solid #8c1012;
}

.arrow_2{
    position: absolute;
    top: 36%;
    left: 55%;;
    z-index: 1000;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    border-left: 5px solid #8c1012;
}

.content button a{
    margin-left: -11px;
    font-size: 11px;
    padding: 5px;

}

.parsley-errors-list {
    display: none;
}